<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title -->
    <title style="font-size: 24px; color: #040404;">Forgot Password | Time-Za</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie-edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/fav.png">

    <!-- Template -->
    <link rel="stylesheet" href="graindashboard/css/graindashboard.css">

    <!-- Additional CSS for custom styling -->
    <style>
        body {
            background-color: #f0f0f0;
            font-family: Arial, sans-serif;
        }

        .main {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: row;
        }

        .left {
            flex: 1;

            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        .right {
            flex: 1;
            /* Adjust the flex value to control the width */
            padding: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .brand img {
            max-width: 150px;
        }

        .card-title {
            font-size: 24px;
            color: #000000;
            text-align: center;
        }

        .form-group label {
            font-weight: bold;
            color: #333;
        }

        .form-control {
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 10px;
            margin-bottom: 10px;
        }

        .btn-primary {
            background-color: #000000;
            border: none;
            border-radius: 4px;
            padding: 10px;
            color: #fff;
            font-weight: bold;
            cursor: pointer;
        }

        .error-message {
            color: red;
        }

        a {
            text-decoration: none;
            color: #000000;
            font-weight: bold;
        }

        .footer {
            text-align: center;
        }

        .text-muted {
            color: #333;
        }

        .btn-primary {
            background-color: #000000;
            border: none;
            border-radius: 4px;
            padding: 10px;
            color: #fff;
            font-weight: bold;
            cursor: pointer;
        }

        /* Add hover styles for the button */
        .btn-primary:hover {
            background-color: grey;
        }
    </style>
</head>

<body>
    <main class="main">
        <div class="container">
            <div class="right">
                <div class="card">
                    <div class="brand text-center mb-3">
                        <img src="/img/logo.png" alt="Logo">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title" style="color: #000000;">Reset Password</h4>
                        <form action="/resetpassword" method="POST" id="otpform" autocomplete="off">
                            <div class="form-group">
                                <label for="email">User Email</label>
                                <input id="email" type="email" class="form-control" name="email" required autofocus
                                    placeholder="Enter email">
                                <span class="error-message" id="emailError" style="color: red;"></span>
                            </div>

                            <div class="form-group">
                                <label for="password">New Password</label>
                                <input id="password" type="password" class="form-control" name="password" required
                                    placeholder="Enter password">
                                <span class="error-message" id="passwordError" style="color: red;"></span>
                            </div>


                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4" id="sendOtp">
                                <button type="button" class="btn btn-primary btn-lg">Send OTP</button>
                            </div>

                            <span id="otpmessage" name="otpmessage"
                                style="color: red, text-align=center, height= 100vh"></span>
                            <br>

                            <div class="form-group">
                                <label for="otp">Enter the OTP</label>
                                <input id="typeOtpX" type="text" class="form-control" name="otp" required
                                    placeholder="Enter OTP">
                                <span class="error-message" id="otpError" style="color: red;"></span>
                            </div>

                            <div class="form-group no-margin">
                                <button type="submit" value="submit" class="btn btn-primary btn-block">Reset
                                    Password</button>
                            </div>
                            <div class="error-message" style="color: red;">
                                <%= message.text %>
                            </div>

                        </form>
                        <a>Go Back to Our</a> <a href="/">Home Page</a>
                    </div>
                </div>
                <footer class="footer mt-3">
                    <div class="container-fluid">
                        <div class="footer-content text-center small">
                            <span class="text-muted">&copy; 2023 Time-Za. All Rights Reserved.</span>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </main>




    <script src="javascripts/signupOtpValidation.js"></script>

    <script>

        ////////////////////script for reset password form validation/////////////////////////////
        document.addEventListener('DOMContentLoaded', function () {
            const emailInput = document.getElementById('email');
            const passwordInput = document.getElementById('password');
            const otpInput = document.getElementById('typeOtpX');

            const emailError = document.getElementById('emailError');
            const passwordError = document.getElementById('passwordError');
            const otpError = document.getElementById('otpError');

            function validateEmail(email) {
                if (email.trim() === '') {
                    return 'Email is required';
                }
                if (!/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email)) {
                    return 'Invalid email format';
                }
                return '';
            }

            function validatePassword(password) {
                if (password.length < 4) {
                    return 'Password should have at least 4 characters';
                }
                if (!/\d/.test(password)) {
                    return 'Password should contain at least one number';
                }
                return '';
            }

            function validateOTP(otp) {
                if (otp.trim() === '') {
                    return 'OTP is required';
                }
                // You can add more specific criteria for OTP validation
                return '';
            }

            emailInput.addEventListener('input', function () {
                const errorMessage = validateEmail(emailInput.value);
                emailError.textContent = errorMessage;
            });

            passwordInput.addEventListener('input', function () {
                const errorMessage = validatePassword(passwordInput.value);
                passwordError.textContent = errorMessage;
            });

            otpInput.addEventListener('input', function () {
                const errorMessage = validateOTP(otpInput.value);
                otpError.textContent = errorMessage;
            });
        });
    </script>
</body>

</html>